<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@idea.picture_url, width: '100%') if @idea.picture.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Nome: </b><%= @idea.name %></p>
    <p><b>Descrição: </b><%= @idea.description %></p>
    <p>
      <%= link_to 'Editar', edit_idea_path(@idea) %> |
      <%= link_to 'Apagar', @idea, data: { confirm: 'Você tem certeza que deseja apagar?' }, method: :delete %> |
      <%= link_to 'Voltar', ideas_path %>
    </p>
  </div>
</div>