<p id="notice"><%= notice %></p>

<h1>Comentários</h1>

<table>
  <thead>
    <tr>
      <th>Nome de usuário</th>
      <th>Comentário</th>
      <th>Ideia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user_name %></td>
        <td><%= comment.body %></td>
        <td><%= comment.idea_id %></td>
        <td><%= link_to 'Mostrar', comment %></td>
        <td><%= link_to 'Editar', edit_comment_path(comment) %></td>
        <td><%= link_to 'Apagar', comment, method: :delete, data: { confirm: 'Tem certeza que quer apagar o comentário?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo comentário', new_comment_path %>
